.confirm__content {
    max-width: 800px;
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    color: #7b6650;
}

.confirm__heading h2 {
    margin: 20px auto;
    text-align: center;
    font-family: "Alegreya", serif;
    color: #7b6650;
}



.confirm-table {
    width: 100%;
}

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    line-height: 1.6;
    border: 1px solid #ddd;
}

.confirm-table__header {
    background-color: #baa899;
    color: #fff;
    text-align: left;
    width: 30%;
    padding: 20px;
    vertical-align: top;
    border: 1px solid #fff;
}

.confirm-table__text {
    background-color: #fff;
    color: #baa899;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__content-box {
    min-height: 80px;
    line-height: 2.0;
    display: block;
}

.form__button {
    text-align: center;
}

.form__button-submit {
    background-color: #827561;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    margin: 20px;
    cursor: pointer;
}

.form__button-submit:hover {
    background-color: #685e55;
}

.form__button-link {
    border: none;
    background-color: #fff;
    color: #bfa58c;
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
}

.form__button-link:hover {
    color: #7b6650;
}
